<div class="liste mat-typography">
  <div class="container">
  <div>
  <button class="retour white-text" mat-button (click)="goBack()">
    <img src="assets/icons/arrow.png">
    Retour
  </button>
  </div>
  <div>
    <article>
      <div  class="search-criteria-actions-button">
      <h2>Vos évaluations ({{nbreEval}})</h2>
        <button type="button" class="button-filter"   (click)="filter()" >
          <img class="filter-img" src="assets/icons/filter.png">Filter
        </button>
        <button type="submit" color="green" class="button-adding">
        <b>  Ajouter une evaluation</b>
        </button>
      </div>
    </article>
  </div>
  <div>
    <mat-tab-group>
      <mat-tab label="En cours (16)"> <mat-card class="card-liste" *ngFor="let  obj of dataSource">
        <mat-card-content>
          <div class="d-inline-flex">
            <mat-label class=" label white-text"><p>{{obj.file}}</p></mat-label>
            <mat-label class=" label white-text"><p>{{obj.dateEval}}</p></mat-label>
            <mat-label class=" label white-text"><p>{{obj.client}}</p></mat-label>
            <mat-label class=" label white-text"><p>{{obj.adress}}</p></mat-label>
          </div>
          <div class="d-inline-flex">
            <mat-label class=" label"><p class="label-percent">{{obj.completion}}</p></mat-label>
            <mat-label class=" label white-text"><p>AM1</p></mat-label>
            <mat-label class=" label white-text"><p>{{obj.numTel}}</p></mat-label>
            <mat-label class=" label white-text"><p>{{obj.zipCity}}</p></mat-label>
          </div>
        </mat-card-content>
      </mat-card></mat-tab>
      <mat-tab label="Passées (5)"> <mat-card class="card-liste" *ngFor="let  obj of dataSource">
        <mat-card-content>
          <div class="d-inline-flex">
            <mat-label class=" label white-text"><p>{{obj.file}}</p></mat-label>
            <mat-label class=" label white-text"><p>{{obj.dateEval}}</p></mat-label>
            <mat-label class=" label white-text"><p>{{obj.client}}</p></mat-label>
            <mat-label class=" label white-text"><p>{{obj.adress}}</p></mat-label>
          </div>
          <div class="d-inline-flex">
            <mat-label class=" label"><p class="label-percent">{{obj.completion}}</p></mat-label>
            <mat-label class=" label white-text"><p>AM1</p></mat-label>
            <mat-label class=" label white-text"><p>{{obj.numTel}}</p></mat-label>
            <mat-label class=" label white-text"><p>{{obj.zipCity}}</p></mat-label>
          </div>
        </mat-card-content>
      </mat-card> </mat-tab>
    </mat-tab-group>

  </div>
  </div>
</div>

